@include media-md{
  .nav{
    .menu-nav{
      &__item{
        padding-right: 1.5rem;
      }
      &__link{
        font-size: 1.5rem;
      }
    }
  }
  .about__bio{
    font-size: 1.5rem;
  }
  .contact__list{
    grid-template-columns: repeat(2,1fr);
  }
}

@include media-lg{
  .contact__list{
    grid-template-columns: repeat(3,1fr);
  }
}